# Ignorar la carpeta de binarios pesados
.terraform/

# Ignorar archivos de estado local (y sus respaldos)
*.tfstate
*.tfstate.backup

# Ignorar archivos de variables secretas que puedas crear luego
*.tfvars
*.tfvars.json

# Ignorar llaves privadas de seguridad (como tu archivo .pem)
*.pem
node_modules/

# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
yarn.lock
dist/
build/
coverage/

# Environment files
.env
.env.*

# Logs and OS files
*.log
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Terraform extras
.terraform.lock.hcl